
:root {
    /*base colors */
    --bg-info: rgb(53, 107, 207);
    --bg-warning: rgb(241, 126, 32);
    --bg-success: rgb(50, 160, 50);
    --bg-error: rgb(255, 0, 0);
}


/*Example 1*/
.content-1{
    height: 100vh;
    width: 100%;
    border-radius: 25px;
    border: 5px solid #ccc!important;
}

.frame-device{
    width: 100%-20px;
    border-radius: 20px;
    padding: 40px;
    background-color: black;
}

@media (max-width: 568px){
    .frame-device{
        padding: 20px;
    }

    .display-device{
        height: 94vh !important;
    }
  } 

.display-device{
    background-color: #b1e6ed;
    height: 87vh;
    width: 100%;
    text-align: center;   
}

.div-label{
    font-size: x-large;
    padding-top: 7%;
    width: 100%;
}

/*Example 2*/
.display-text{
    text-align: center;
    font-size: large;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

button{
    color: white;
    border: 1px white;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    
}

.div-btn{
    width: 100%;
    text-align: center;
}

.info{
    background-color: var(--bg-info)
}
.warning{
    background-color: var(--bg-warning)
}
.success{
    background-color: var(--bg-success)
}
.error{
    background-color: var(--bg-error)
}